USE [master]
GO
/****** Object:  Database [Natureschakki]    Script Date: 8/14/2026 9:24:34 PM ******/
CREATE DATABASE [Natureschakki]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Natureschakki', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Natureschakki.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Natureschakki_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Natureschakki_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Natureschakki].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Natureschakki]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/14/2026 9:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/14/2026 9:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PictureUrl] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Brand] [nvarchar](max) NOT NULL,
	[QuantityInStock] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251220130654_InitialCreate', N'9.0.11')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [PictureUrl], [Type], [Brand], [QuantityInStock]) VALUES (1, N'Amaranth Atta', N'High-quality Amaranth Atta made from premium grains.
Rich in protein and gluten-free.
Perfect for healthy rotis and baking.', CAST(120.00 AS Decimal(18, 2)), N'/images/products/sb-ang1.png', N'Flour', N'NaturesChakki', 82)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [PictureUrl], [Type], [Brand], [QuantityInStock]) VALUES (2, N'Oats Flour', N'Finely ground oats flour for healthy living.
Rich in fiber and supports heart health.
Ideal for baking and daily consumption.', CAST(90.00 AS Decimal(18, 2)), N'/images/products/sb-ang2.png', N'Flour', N'NaturesChakki', 75)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [PictureUrl], [Type], [Brand], [QuantityInStock]) VALUES (3, N'Proso Millet', N'Natural Proso Millet grains sourced from farms.
High in nutrients and easy to digest.
Best for daily healthy meals.', CAST(80.00 AS Decimal(18, 2)), N'/images/products/sb-core1.png', N'Millet', N'NaturesChakki', 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
USE [master]
GO
